body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  font-weight: 500;
  line-height: 1.4;
  background-color: #ffffff;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  font-family: inherit;
}
.header-studio {
  color: #2e2f42;
}
.studio {
  color: #f4f4fd;
}
.header-logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.header-items-link {
  color: #2e2f42;
}
.header-items-link:hover {
  color: #404bbf;
}
.header-items-link:focus {
  color: #404bbf;
}
.header {
  background: #fff;
}
.header-items {
  color: #2e2f42;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.contacts-items-link {
  color: #434455;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.contacts-items-link:hover {
  color: #404bbf;
}
.contacts-items-link:focus {
  color: #404bbf;
}
.business {
  background: #2e2f42;
  width: 1440px;
  height: 600px;
}
.business-title {
  color: #ffffff;
  text-align: center;
  background-color: #4d5ae5;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}
.business-button {
  color: #fff;
  background-color: #4d5ae5;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.business-button:hover {
  background-color: #404bbf;
}
.business-button:focus {
  background-color: #404bbf;
}
.benifits {
  background: #fff;
}
.benifits-subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.benifits-text {
  color: #434455;
  text-align: center;

  font-family: Roboto;
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.02em;
}
.team {
  background-color: #f4f4fd;
}
.team-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.team-list {
  background-color: #ffffff;
}
.team-items {
  background-color: #ffffff;
}
.team-subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.team-text {
  background: #fff;
  color: var(--SLATE, #434455);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
}
.portfolio {
  background: #fff;
}
.portfolio-title {
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
}
.portfolio-subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.portfolio-text {
  color: #434455;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.footer {
  background: #2e2f42;
}
.footer-link {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;

  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-text {
  color: #f4f4fd;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
